# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

claude/.claude/projects
claude/.claude/shell-snapshots
claude/.claude/statsig
claude/.claude/todos
yazi/.config/yazi/flavors/ayu-dark.yazi
zed/.config/zed/conversations
zed/.config/zed/prompts/prompts-library-db.0.mdb
